  <header class="hero is-white has-text-centered">
    {{# title }}
    <h1 class="title has-text-info">
      {{# title_link}}
      <a href="#{{ title_link }}">
        {{ title }}
      </a>
      {{/ title_link}}
      {{^ title_link}}
        {{ title }}
      {{/ title_link}}
    </h1>
    {{/ title }}

    {{# sub_title }}
    <span class="subtitle has-text-grey-light">
      {{ sub_title }}
    </span>
    {{/ sub_title }}
    {{# description }}
    <p class="box message is-primary">
      {{ description }}
    </p>
    {{/ description }}
  </header>
