<footer class="footer has-text-right">
{{# project }}
  {{# version }}<span class="version">{{ version }}</span> &ndash;{{/ version }}
  The Source Code for this project is available
  {{# source_url }}<a href="{{ source_url }}"> on {{ source }}</a>{{/ source_url }}
  {{# license }}under a <a href="https://spdx.org/licenses/{{ license }}.html" rel="license" target="_blank">{{ license }} License</a>{{/ license }}

  {{# author }}
  &ndash;
  <a {{# author_url }}href="{{ author_url }}" {{/ author_url }}class="created-by">
    Created by
    <span class="{{ author }}">{{ author }}</span>
  </a>
  {{/ author }}
{{/ project }}
</footer>

