  <header class="hero is-white has-text-centered">
    {{# title }}
    <h1 class="title has-text-info">
      {{# title-link}}
      <a href="#{{ title-link }}">
        {{ title }}
      </a>
      {{/ title-link}}
      {{^ title-link}}
        {{ title }}
      {{/ title-link}}
    </h1>
    {{/ title }}

    {{# sub-title }}
    <span class="subtitle has-text-grey-light">
      {{ sub-title }}
    </span>
    {{/ sub-title }}
    {{# description }}
    <p class="box message is-primary">
      {{ description }}
    </p>
    {{/ description }}
  </header>
