    <form accept-charset="utf-8" action="" enctype="multipart/form-data" method="get" spellcheck="false">

        <fieldset class="box has-text-centered">

          {{# arguments }}
            {{> arguments }}
          {{/ arguments }}

          {{^ single_argument  }}
            {{> submit-button }}
          {{/ single_argument  }}

        </fieldset>

        {{# has_options }}
        <details class="options has-text-right"{{# has_option_selected}} open{{/ has_option_selected}}>

          <summary class="button is-info is-outlined is-centered">
            Options
          </summary>

          <div class="box has-text-left">
            {{# flags }}
              {{> flags }}
            {{/ flags }}

            {{# options }}
              {{> options }}
            {{/ options }}
          </div>

        </details>
        {{/ has_options }}

    </form>
