
<button type="submit" class="button is-info is-large">
    {{# submit_icon }}
    <span class="icon" aria-hidden="true">
          <i class="fa fa-{{ submit_icon }}"></i>
    </span>
    {{/ submit_icon }}

    <span>
        {{ submit_name }}
    </span>
</button>
