
<button type="submit" class="button is-info is-large">
    {{# submit-icon }}
    <span class="icon" aria-hidden="true">
          <i class="fa fa-{{ submit-icon }}"></i>
    </span>
    {{/ submit-icon }}

    <span>
        {{ submit-name }}
    </span>
</button>
