<footer class="footer has-text-right">
{{# project }}
  {{# version }}<span class="version">{{ version }}</span> &ndash;{{/ version }}
  The Source Code for this project is available
  {{# source-url }}<a href="{{ source-url }}"> on {{ source }}</a>{{/ source-url }}
  {{# license }}under a <a href="https://spdx.org/licenses/{{ license }}.html" rel="license" target="_blank">{{ license }} License</a>{{/ license }}

  {{# author }}
  &ndash;
  <a {{# author-url }}href="{{ author-url }}" {{/ author-url }}class="created-by">
    Created by
    <span class="{{ author }}">{{ author }}</span>
  </a>
  {{/ author }}
{{/ project }}
</footer>

